.btnContainer {
  display: flex;
  flex-wrap: wrap;
  /* width: 300px; */
  width: 100%;
  justify-content: center;
}

.btnContainer button {
  margin-right: 1rem;
  margin-top: 1rem;
}

.binanceControls {
  display: flex;
  flex-direction: column;
}

.baseSelect {
  width: 90px;
  /* margin-bottom: 40px; */
  margin-top: 0.5rem;

  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

.downloadHiddenTag {
  display: none;
}
