.btnContainer {
  display: flex;
  flex-wrap: wrap;
  /* width: 300px; */
  width: 100%;
  justify-content: center;
}

.btnContainer button {
  margin-right: 1rem;
  margin-top: 1rem;
}

.downloadHiddenTag {
  display: none;
}
