body {
  background-color: var(--color-darkGreen);
  color: var(--color-white);
  margin: 10px;
}

button {
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-naturalYellow);
  color: var(--color-white);
  transition: all 0.1s ease-out;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #f1b14ade;
  transform: scale(1.06, 1.06);
  transition: all 0.1s ease-out;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* color: var(--color-black); */
  margin-bottom: 40px;
  margin-top: 40px;
}

.App-link {
  color: #61dafb;
}

/* .divider {
  border-top: 1px var(--color-lightGreen) solid;
  width: 50%;
  margin: 60px auto;
} */

.divider {
  position: relative;
  width: 50%;
  /* margin: 60px auto; */
  margin-top: 60px;
  margin-bottom: 60px;
  height: 1px;
  content: '';
  position: relative;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--color-lightGreen), transparent);
}
