body {
  background-color: #282c34;
  color: #fff;
}

button {
  padding: 10px 10px;
  border-radius: 5px;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}

button:hover {
  background-color: cornflowerblue;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
