@import '../../cssVars.css';

.trendingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  @media only screen and (max-width: 600px) {
    padding: 0 8x;
  }
}
.mainHeading {
  margin: 0 0 60px 0;
}

.listContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
