.itemLine {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-mediumGreen);
  padding: 6px 10px;
  transition: transform 0.2s;
}
.itemLine:hover {
  background-color: rgb(128, 189, 104);
  transition: background-color 0.2s ease;
}

.label {
  font-weight: 700;
  margin-right: 10px;
}

.value {
  font-weight: 600;
  margin-right: 10px;
}
